@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Licorice&family=Pushster&family=Shizuru&display=swap');
h1{
    font-family: 'Pushster', cursive;
}
p{
    
font-family: 'Licorice', cursive;
color: red;
}