div{
    width: 50%;
    height: 300px;
    background-color: black;
    /* padding: 100px */
    padding-left: 50px;
    padding-top: 100px;
    /* padding
    padding left
    padding right
    padding top
    padding bottom
     */
}
div p{
    color: white;
    /*descendant selector */
}
div h1{
    color: violet;
}
p{
    color: red;
}
#a{
    color: violet;
    text-align: center;
}