.row{
    width: 50%;
    height: 500px;
    background-color: #6495ed;
    position: relative;
}
.col{
    width: 100px;
    height: 300px;
    border: black 2px solid;
}
.col1{
    background-color: crimson;
    position: absolute;
    left: 5px;
}
.col2{
    background-color: darkgoldenrod;
    position: absolute;
    left: 105px;
}
.col3{
    background-color: darkred;
    position: absolute;
    left: 205px;
}
.col4{
    background-color: darkseagreen;
    position: absolute;
    left: 305px;
}