h2{
    color: white;
    margin-top: 25px;
    margin-left: 720px;
    

}
body{
    background-color: black;
}
div{
    height: 200px;
    width: 150px;
}
#box1{
    background-color: rgb(58, 25, 2);
    margin-left: 450px;


}
#box2{
    background-color: rgb(51, 185, 109);
    margin-left: 613px;
    margin-top: -200px; 
    
}
#box3{
    background-color: rgb(78, 238, 99);
    margin-left: 775px;
    margin-top: -200px; 
    
}
#box4{
    background-color: rgb(0, 255, 21);
    margin-left: 938px;
    margin-top: -200px; 
    
}
#box5{
    background-color: rgb(247, 217, 224);
    margin-left: 1101px;
    margin-top: -200px; 
    
}
#box6{
    background-color:rgb(229, 255, 0);
    margin-left: 285px;
    margin-top: 70px; 
       
}
#box7{
    background-color: rgb(241, 120, 50);
    margin-left: 450px;
    margin-top: -200px; 
    
}
   
#box8{
    background-color: rgb(188, 204, 195);
    margin-left: 613px;
    margin-top: -200px; 
    
}
    

#box9{
    background-color: rgb(171, 110, 206);
    margin-left: 776px;
    margin-top: -200px; 
    

}
    

#box10{
    
    background-color: rgb(19, 5, 151);
    margin-left: 939px;
    margin-top: -200px; 
    
}
    

#box11{
    background-color: rgb(95, 79, 124);
    margin-left: 1102px;
    margin-top: -200px; 
    

}
#box12{
    background-color: rgb(144, 147, 148);
    margin-left: 1265px;
    margin-top: -200px; 
    
    
    
}
#box13{
    background-color: rgb(170, 130, 185);
    margin-left: 120px;
    margin-top: 85px; 
    
}
#box14{
    background-color: rgb(255, 255, 255);
    margin-left: 285px;
    margin-top: -200px; 
    
}
#box15{
    
    background-color:  rgb(226, 252, 78);
    margin-left: 450px;
    margin-top: -200px; 
    
}
#box16{
    background-color: rgb(255, 239, 21);
    margin-left: 613px;
    margin-top: -200px; 
    
    
}
#box17{
    background-color: rgb(245, 10, 155);
    margin-left: 777px;
    margin-top: -200px; 
    
    
}
#box18{
    background-color: rgba(243, 21, 21, 0.733);
    margin-left: 939px;
    margin-top: -200px; 
    
    
}
#box19{
    background-color: rgb(159, 94, 212);
    margin-left: 1102px;
    margin-top: -200px; 
    
    
}
#box20{
    background-color:rgb(95, 79, 124);
    margin-left: 1265px;
    margin-top: -200px; 
    
    
}
#box21{
    background-color: rgba(255, 106, 61, 0.938);
    margin-left: 1428px;
    margin-top: -200px; 
    
    
}


